@import url('https://fonts.googleapis.com/css2?family=Signika:wght@300&display=swap');
@import url('http://fonts.cdnfonts.com/css/pokemon-solid');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Signika', sans-serif;
  background-image: url("https://w.wallhaven.cc/full/ne/wallhaven-neoxo8.png");
  /* background: linear-gradient(to right, #d4d3dd, #efefbb); */
  background-repeat: no-repeat;
  background-attachment: sticky;
  background-color: #897d01;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
}

h1 {
  color: rgb(255, 222, 0);
  font-family: 'Pokemon Solid', sans-serif;
  text-shadow: -2px 2px 0 #3B4CCA,
  2px 2px #3B4CCA,
  2px -1px #3B4CCA;
  letter-spacing: 3px;
}

.pokedex-container {
  display: flex;
  flex-wrap: wrap;
  align-items: space-between;
  justify-content: center;
  margin: 0 auto;
  max-width: 1200px;
}

.pokemon {
  background-color: #eee;
  border-radius: 10px;
  box-shadow: 0 3px 15px rgba(255, 255, 255, 0.6);
  margin: 10px;
  padding: 20px;
  text-align: center;
}

.pokemon .img-container {
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 50%;
  width: 120px;
  height: 120px;
  text-align: center;
}

.pokemon .img-container img{
  max-width: 90%;
  margin-top: 20px;
}

.pokemon .info {
  margin-top: 20px;
}

.pokemon .info .number {
  background-color: rgba(0, 0, 0, 0.1);
  padding: 5px 10px;
  border: 10px;
  font-size: 0.8em
}

.pokemon .info .name {
  margin: 15px 0 7px;
  letter-spacing: 1px;
}
